@import url('https://fonts.googleapis.com/css?family=Fira+Sans:700|Roboto&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */

body {
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,
.btn_link, nav a, footer a {
  font-family:  sans-serif;
}


button {
  cursor: pointer;
}

nav {
  padding: 0px 20px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 8px 10px -5px #ddd;
  position: relative;
}

nav a {
  padding: 24px 8px;
  text-decoration: none;
  font-weight: bolder;
  color: #67678a;
  margin: 3px;
}

.home-link {
  margin: auto auto auto 0px;
}


footer {
  background-color: #f3f3f3;
  padding: 35px 35px;
}

footer a {
  font-size: 18px;
  padding: 12px 8px;
  color: #888;
}
